
h1 {
	color: green;
}

.centerer {
  width: 500px;
  border: 3px solid green;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centerer div, input {
	margin-bottom:10px;
	float:right;
	margin-right:20px;
	height:30px;
	font-size:18px;
}

input {
	width:150px;
	margin-left:10px;
	text-align:center;
	height:25px;
	font-size:18px;
}

#button input {
	height:40px;
	clear:all;
	background-color:magenta;
	color:white;
	font-weight:bold;
	margin-top:-10px;
}

	